<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.6//EN" "http://jade/jcms/dtd/jcms-plugin-1.6.dtd">
<plugin name="AssmatPlugin" version="0.1" author="CG 44" license="CG 44" initialize="true" jcms="" order="0" url="" jsync="true" appserver="">
 
  <label xml:lang="fr">Module Assmat</label>
  <description xml:lang="fr">Module Assmat</description>
 
 <types>
    <type name="ChangementCadreDaccueil" />
    <type name="ChangementSituationFamiliale" />
    <type name="DeclarerAccueil" />
    <type name="Demarche" />        
    <type name="Disponibilite" />  
    <type name="FormContactAssmat" />
    <type name="FormulaireDeContactActualiserCoo" />
    <type name="FormulaireDeContactRAM" />
    <type name="FormulaireDeContactDuneAM" />
    <type name="InscriptionAM" /> 
    <type name="OuvertureSite" />
    <type name="PortletFacetteDispo" />
    <type name="PortletFacetteMois" />
    <type name="ProfilASSMAT" />
    <type name="Routage" />
    <type name="SignalerDemenagement" />
    <type name="SignalerDemenagementAutreDeparte" />
    <type name="TexteParametrable" />
   
    <templates type="PortletNavigate">
      <template name="menuEspacePersonnel" file="menuEspacePersonnel.jsp" usage="box">
        <label xml:lang="en">Menu in the welcome of the section</label>
        <label xml:lang="fr">Menu d'accueil de l'espace personnel</label>
      </template>
       <template name="menuEspacePersonnel" file="menuEspacePersonnel.jsp" usage="full">
        <label xml:lang="en">Menu in the welcome of the section</label>
        <label xml:lang="fr">Menu d'accueil de l'espace personnel</label>
      </template>
      <template name="menuAssmat" file="doPortletNavigateMenuAssmat.jsp" usage='box'>
        <label xml:lang="fr">Gabarit Menu pour assmat</label>
      </template>
    </templates>
    
    <templates type="PortletQueryForeach">
      <template name="servicesNavigation" file="pqfEspacesIcons.jsp" usage="box">
        <label xml:lang="fr">Affichage des espaces</label>
      </template>
    </templates>
    
    <templates type="ProfilASSMAT">
      <template name="default" file="profilASSMATQueryDisplay.jsp" usage="query">
        <label xml:lang="en">profilAssmatQueryDisplay in query display</label>
        <label xml:lang="fr">profilAssmatQueryDisplay en query display</label>
      </template>
       <template name="default" file="profilAssmatFullDisplay.jsp" usage="full">
        <label xml:lang="en">Full display</label>
        <label xml:lang="fr">StructurePersonnesHandicapeesEnf en query display</label>
      </template>
    </templates>
    
    <templates type="Place">
      <template name="default" file="placeQueryDisplay.jsp" usage="query">
        <label xml:lang="en">Place Query Display</label>
        <label xml:lang="fr">Affichage d'une fiche lieu en Query display</label>
      </template>
      <template name="default" file="placeInfoWindowGoogleMaps.jsp" usage="geolocationInfoWindow">
        <label xml:lang="en">Place Query Display</label>
        <label xml:lang="fr">Affichage d'une fiche lieu en Query display</label>
      </template>
      <template name="default" file="placeInfoWindowGoogleMaps.jsp" usage="geolocationInfoWindowList">
        <label xml:lang="en">Place Query Display</label>
        <label xml:lang="fr">Affichage d'une fiche lieu en Query display</label>
      </template>
    </templates>
   
    <templates type="City">
      <template name="assmat" file="cityInfoWindowGoogleMapsAssmat.jsp" usage='geolocationInfoWindowAssmat'>
        <label xml:lang="en">City in Google Maps</label>
        <label xml:lang="fr">Commune dans Google Maps</label>
      </template>
    </templates>
    
    <templates type="ProfilASSMAT">
      <template name="default" file="profilAMInfoWindowGoogleMapsAssmat.jsp" usage='geolocationInfoWindow'>
        <label xml:lang="en">City in Google Maps</label>
        <label xml:lang="fr">Commune dans Google Maps</label>
      </template>     
    </templates>
    
    <templates type="InscriptionAM">
      <template name="default" file="doInscriptionAMFullDisplay.jsp" usage="full">
        <label xml:lang="en">Full display 404</label>
        <label xml:lang="fr">Full display 404</label>
      </template>
    </templates>    
    
    <templates type="PortletFacetteMois">
        <template name="default" file="doPortletFacetteMoisBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates> 
    
    <templates type="PortletFacetteDispo">
        <template name="default" file="doPortletFacetteDispoBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates> 
    
  </types>
  
  
  
   <jars>
    <jar path="smsClient.jar" />
    <jar path="ant-1.7.0.jar" />
    <jar path="ant-launcher-1.7.0.jar" />
    <jar path="apache-mime4j-core-0.7.2.jar" />
    <jar path="axiom-api-1.2.13.jar" />
    <jar path="axiom-impl-1.2.13.jar" />
    <jar path="axis2-adb-1.6.4.jar" />
    <jar path="axis2-codegen-1.6.4.jar" />
    <jar path="axis2-kernel-1.6.4.jar" />
    <jar path="axis2-transport-http-1.6.4.jar" />
    <jar path="axis2-transport-local-1.6.4.jar" />
    <jar path="axis2-xmlbeans-1.6.4.jar" />
    <jar path="commons-codec-1.5.jar" />
    <jar path="commons-fileupload-1.2.1.jar" />
    <jar path="commons-httpclient-3.0.1.jar" />
    <jar path="commons-logging-1.1.1.jar" />
    <jar path="geronimo-activation_1.1_spec-1.1.jar" />
    <jar path="geronimo-jta_1.1_spec-1.1.jar" />
    <jar path="geronimo-stax-api_1.0_spec-1.0.1.jar" />
    <jar path="geronimo-ws-metadata_2.0_spec-1.1.2.jar" />
    <jar path="jaxen-1.1.3.jar" />
    <jar path="jsr311-api-1.0.jar" />
    <jar path="neethi-3.0.2.jar" />
    <jar path="woden-api-1.0M9.jar" />
    <jar path="woden-impl-commons-1.0M9.jar" />
    <jar path="woden-impl-dom-1.0M9.jar" />
    <jar path="wsdl4j-1.6.2.jar" />
    <jar path="wstx-asl-3.2.9.jar" />
    <jar path="xmlbeans-2.3.0.jar" />
    <jar path="XmlSchema-1.4.7.jar" />
    <jar path="hibernate-spatial-1.0.jar" />
    <jar path="hibernate-spatial-postgis-1.0.jar" />
    <jar path="jts-1.12.jar" />
    <jar path="postgis-jdbc-1.3.3.jar" />
    <jar path="gson-2.8.1.jar" /> 
    <jar path="hamcrest-core-1.3.jar" /> 
    <jar path="joda-time-2.9.9.jar" /> 
    <jar path="logging-interceptor-2.7.5.jar" /> 
    <jar path="okhttp-2.7.5.jar" /> 
    <jar path="okio-1.6.0.jar" /> 
    <jar path="swagger-annotations-1.5.15.jar" /> 
    <jar path="swagger-java-client-1.0.0.jar" />
    
    <!-- Utilisé pour le service rest de solis et mailjet client -->
    <jar path="json-simple-1.1.1.jar" />
    <!-- Utilisé par la génération PDF -->
    <jar path="itext-2.0.2.jar" />
    
    
  
  </jars>
    


  <java-classes>
    <java package="fr.cg44.plugin.assmat" />
    <java package="fr.cg44.plugin.administrabletexteplugin" />
    <java package="fr.cg44.plugin.tools" />
    <java package="fr.trsb.cd44.solis" />
  </java-classes>
  
  <plugincomponents>


    <policyfilter          class="fr.cg44.plugin.assmat.policyfilter.DemarcheRightPolicyFilter" />
    <policyfilter          class="fr.cg44.plugin.assmat.policyfilter.AssmatPortalPolicyFilter" />

    <!--
    <policyfilter          class="fr.cg44.plugin.assmat.policyfilter.ExportPolicyFilterCd44" />
    <policyfilter          class="fr.cg44.plugin.assmat.policyfilter.ImportPolicyFilterExpireCd44" />
    -->
  

    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.DemarcheDataController" types="Demarche" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.DispoASSMATDataController" types="Disponibilite" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.FormContactAssmatDataController" types="FormContactAssmat" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.FormContactRAMDataController" types="FormulaireDeContactRAM" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.FormActualiserCoordRAMDataController" types="FormulaireDeContactActualiserCoo" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.ImportPublicationDataController" types="Publication" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.InscriptionAMDataController" types="InscriptionAM" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.MemberDataController" types="Member" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.ProfilASSMATDataController" types="ProfilASSMAT" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.MemberGroupDataController" types="Member" />
    <datacontroller     class="fr.cg44.plugin.assmat.datacontroller.FormContactDuneAMDataController" types="FormulaireDeContactDuneAM" />
    <datacontroller     class="fr.cg44.plugin.administrabletexteplugin.datacontroller.TexteParametrableDataController" types="TexteParametrable" />


    <channellistener    class="fr.cg44.plugin.assmat.listener.AssmatChannelListener" />
    <!--
    <channellistener    class="fr.cg44.plugin.assmat.listener.SMSChannelListener" />
    -->

    <!--
    <alarmlistener         class="fr.cg44.plugin.assmat.alarm.listener.NotConnectAlarmListener" schedule="* 3 * * * *" manager="AssmatAlarmManager"/>
    <alarmlistener         class="fr.cg44.plugin.assmat.alarm.listener.AvailabilityAlarmListener" schedule="* 3 * * * *" manager="AssmatAlarmManager"/>
    -->
    

    <authenticationhandler class="fr.cg44.plugin.assmat.handler.LoginAuthenticationHandler" />
    <authenticationhandler class="fr.cg44.plugin.assmat.handler.LoginAuthenticationDossierHandler" />

        
  </plugincomponents>
  
  
  <openapi>
    <resource class="fr.cg44.plugin.assmat.webservice.SolisRestResources" uriTemplate="/solis/dossier" />
    <resource class="fr.cg44.plugin.assmat.webservice.SolisRestMemberResources" uriTemplate="/solis/member/{idDossier}" />
    <resource class="fr.cg44.plugin.assmat.webservice.ExportXmlRam" uriTemplate="/relais" />
  </openapi>
    
    
  <private-files>
    <directory path="properties" />
    <file path="TagTRSBglp.tld" />
  </private-files>
  
  <public-files>
    <directory path="css" />
    <directory path="docs" />
    <directory path="images" />
    <directory path="img" />
    <directory path="js" />    
    <directory path="jsp" />
  </public-files>
  
  <webapp-files>

    
    <!-- Fichier hibernate de configuration -->
    <file path="/WEB-INF/classes/assmat.cfg.xml" />
    <!-- Fichier hibernate des caches -->
    <file path="/WEB-INF/classes/assmat_ehcache.xml" />
    <!-- Fichier hibernate des types -->  
    <file path="/WEB-INF/classes/fr/cg44/plugin/assmat/beans/hbm/AssmatSearch.hbm.xml" />
    <file path="/WEB-INF/classes/fr/cg44/plugin/assmat/beans/hbm/DispoAssmat.hbm.xml" />
    <file path="/WEB-INF/classes/fr/cg44/plugin/assmat/beans/hbm/TrsbActivation.hbm.xml" />
    <file path="/WEB-INF/classes/fr/cg44/plugin/assmat/beans/hbm/EnvoiSms.hbm.xml" />

    <!-- Fichier hibernate des types solis -->
    <file path="/WEB-INF/classes/fr/trsb/cd44/solis/hbm/AssmatSolis.hbm.xml" />
    <file path="/WEB-INF/classes/fr/trsb/cd44/solis/hbm/TrancheAge.hbm.xml" />
    <file path="/WEB-INF/classes/fr/trsb/cd44/solis/hbm/GroupementRam.hbm.xml" />
    <file path="/WEB-INF/classes/fr/trsb/cd44/solis/hbm/CorresRamUa.hbm.xml" />    
    <file path="/WEB-INF/classes/fr/trsb/cd44/solis/hbm/Quartier.hbm.xml" />
    
  </webapp-files>
  
  
</plugin>

