<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.6//EN" "http://jade/jcms/dtd/jcms-plugin-1.6.dtd">
<plugin name="AssmatPlugin" version="0.1" author="CG 44" license="CG 44" initialize="true" jcms="" order="0" url="" jsync="true" appserver="">
 
  <label xml:lang="fr">Module Assmat</label>
  <description xml:lang="fr">Module Assmat</description>
 

    


  <private-files>
    <directory path="properties" />
  </private-files>
  
  <public-files>
    <directory path="css" />
    <directory path="docs" />
    <directory path="images" />
    <directory path="img" />
    <directory path="js" />    
    <directory path="jsp" />
  </public-files>
  
  
</plugin>

